<h1>Tricky Tests</h1>
<table>
  <tr>
    <th>Title</th>
    <th>Level</th>
    <th colspan="4">Actions</th>
  </tr>
  <%= render @test %>
</table>

<p>
  <%= link_to 'New test', new_admin_test_path %>
</p>